
/* variables */

:root {
    --font-bold: 'air-bold';
    --font-medium: 'air-medium';
    --font-book: 'air-book';
}


/* fonts */

@font-face {
    font-family: "air-bold";
    src: url(/assets/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
}

@font-face {
    font-family: "air-medium";
    src: url(/assets/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
}

@font-face {
    font-family: "air-book";
    src: url(/assets/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.fixed {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    
    
}

header {
    width: 100%;  
    display: block;
}

.header-content {
    width: 100%;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(106, 106, 106, 0.301);
}

.logo {
    flex: 1 0 140px;
    display: flex;
}

.logo-air-left {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-air-left svg {
    width: 102px;
    height: 32px;
    color: rgb(255, 56, 92);
    fill: rgb(255, 56, 92);
}

.logo-air-left2 {
    height: 80px;
    display: none;
    align-items: center;
    justify-content: center;
}

.logo-air-left2 svg {
    
    height: 32px;
    color: rgb(255, 56, 92);
    fill: rgb(255, 56, 92);
}

.nontext-logo {
    display: none;
}


.search {
    height: 48px;
    
    padding: 0px 24px;
    /* position: absolute;
    left: 39%; */
}

.search-continer{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 4px 12px 0px ;
}

.search-txt {
    padding: 0px 16px;
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 14px;
    text-overflow: ellipsis;
    font-family: var(--font-medium);
}
.divider {
    height: 24px;
    width: 1px;
    background-color: rgb(221, 221, 221);
}


.search-continer button {
    font-size: 14px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-continer button:first-child {
    padding-left: 8px;
}

.search-continer button:last-child .search-txt {
    font-family: var(--font-book);
    color: #6a6a6a;
}


.search-icon {
    width: 32px;
    height: 32px;
    background-color: #FF385C;
    padding: 10px;
    margin: 7px 7px 7px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.search-icon svg {
    display: block;
    width: 12px;
    height: 12px;
    color: white;
    fill: white;
}


.profile {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex: 1 0 140px;
    
    /* position: absolute;
    right: 4%; */
}


.your-home {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.your-home a {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-family: var(--font-medium);
    text-wrap: nowrap;
}

.globe-button {
    display: flex;
}

.air-home {
    display: flex;
    margin-right: 8px;
}

.globe-button-icon {
    padding: 12px;
    border: none;
    border-radius: 500px;
    background: transparent;
}

.globe-button-icon svg {
    width: 16px;
    height: 16px;
    display: flex;
    fill: rgb(34, 34, 34);
}
.profile-btn-continer {
    padding: 8px 8px 8px 14px;
    border-radius: 40px;
    display: flex;
    border: 1px solid rgb(221, 221, 221);
    align-items: center;
    background-color: white;
    justify-content: space-between;
}

.menu-icon {
    display: flex;
}

.menu-icon svg {
    width: 16px;
    height: 16px;
    display: block;
}
.profile-icon {
    margin-left: 14px;
    width: 32px;
    height: 32px;
}

.logo-air-left svg:last-child {
    display: none;
}

.profile-icon svg {
    display: block;
    height: 100%;
    width: 100%;
    fill: rgb(106, 106, 106);
}

.header2 {
    display: none;
    width: 100%;
}

.search-bar2 {
    margin: 14px 24px 0px 24px;
    width: 100%;
    border-radius: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

.search-button2 {
    width: 100%;
    display: flex;
    background: transparent;
    padding: 0 4px;
    align-items: center;
    height: 54px;
    text-align: center;
    border: none;
}

.search-icon2 {
    display: flex;
    width: 52px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.search-icon2 svg {
    width: 20px;
    height: 20px;
    fill: black;
}

.search-button2-text {
    display: block;
    /* width: 100%; */
   margin-left: 2px;
   margin-top: 2px;
}

.titlt-btn1 {
    display: block;
    text-align: left;
    font-size: 14px;
    font-family: var(--font-medium);
    color: rgb(34, 34, 34);
}

.titlt-btn2 {
    font-size: 12px;
    text-align: left;
    font-family: var(--font-book);
    color: rgb(106, 106, 106);
    margin: 1px 0px;
}


@media screen and (max-width: 1440px) {
    .header-content  {
        padding: 0 40px;
    }

    .profile {
        flex: 1 ;
    }
}


@media screen and (max-width: 1128px) {
    .logo-air-left {
        display: none;
    }
    .logo-air-left2  {
        display: flex;
    }
    .profile {
        flex: 0;
    }
}

@media screen and (max-width: 950px) {
    .logo {
        flex: 0;
    }
    .header-content {
       justify-content: left;
    }
    .profile {
        flex: 1 0 auto;
    }
}

@media screen and (max-width: 745px) {
    header {
        display: none;
    }
    .header2 {
        display: flex;
    }
}



/* ------------icon-list--------------- */


.icon-list-section {
    width: 100%;
    display: block;
}

.icon-list {
    width: 100%;
    
    padding: 0 80px;
}

.icon-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: relative;
}

.icon-list-container {
    width: 100%;
    display: flex;
    
    overflow-x: scroll;
    
    
    gap: 32px;
    padding-top: 9px;

}

.icon-list-container::-webkit-scrollbar {
    display: none;
}

.grid-list-element {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 12px 0px 10px 0px;
    margin-right: 10px;
    
    
}

.grid-list-element img {
    width: 24px;
    text-align: center;
}

.list-element-label {
    display: flex;
    font-size: 12px;
    font-family: var(--font-bold);
    text-wrap: nowrap;
}


.grid-list-element-inactive {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 12px 0px 10px 0px;
}

.grid-list-element-inactive img {
    width: 24px;
    text-align: center;
    opacity: 0.67;
}

.list-element-label-inactive {

    font-size: 12px;
    font-family: var(--font-medium);
    color: rgb(106, 106, 106);
    min-width: 56px;
    text-align: center;
    text-wrap: nowrap;
}

.scroll-indiacator {
    position: absolute;
    right: 0;
    width: 76px;
    height: 90%;
    display: flex;
    
    
    align-items: center;
    
    justify-content: flex-end;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 40px);
}

.scroll-continer {
    width: 28px;
    height: 28px;
    border-radius: 1000px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-continer img {
    width: 12px;
}

@media screen and (max-width: 1440px) {
    .icon-list  {
        padding: 0 40px;
    }
}

@media screen and (max-width: 745px)  {
    .icon-list {
        padding: 0 0 0 24px;
    }

    .scroll-indiacator {
        display: none;
    }
}




/* --------main-content-section-------- */


.main-content-section {
    width: 100%;
    display: block;
}

.main-content-body {
    width: 100%;
    padding: 0 80px;
    margin: 16px 0px 48px;
}

.main-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.container-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-flow: row dense;
    column-gap: 24px;
    row-gap: 40px;
}

.grid-element {
    width: 100%;

}

.grid-element-container {
    display: flex;
    flex-direction: column;
}

.image-card {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 12px;
}


.image-container {
    width: 100%;
    aspect-ratio: 20/19;
    border-radius: 12px;
    overflow: hidden;
    
}

.image-container img {
   height: 100%;
    width: 100%;
    object-fit: cover;
}


.uppload {
    position: absolute;
    right: 12px;
    top: 12px;
}


.upload-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(34, 34, 34);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);
}

.upload-btn svg {
    width: 14px;

}


.live {
    position: absolute;
    left: 12px;
    top: 12px;
}


.live-btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid rgb(34, 34, 34);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);
}

.live-btn span {
    font-size: 15px;
    font-family: var(--font-medium);
}

.image-nav {
    position: absolute;
    right: 12px;
    top:45%;
    opacity: 0;
    transition: 0.3s;
}


.img-nav-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.img-nav-btn svg {
    width: 14px;

}

.image-card:hover .image-nav{
    opacity: 100%;
}



.element-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 8px;
    row-gap: 2px;

}

.element-content-title {
    display: block;
    text-align: left;
    font-size: 15px;
    color: rgb(34, 34, 34);
    font-family: var(--font-bold);
}

.element-content-host {
    display: block;
    text-align: left;
    font-size: 15px;
    font-family: var(--font-book);
    color: rgb(106, 106, 106);
}

.element-content-price {
    display: block;
    text-align: left;
    font-size: 15px;
   color: rgb(34, 34, 34);
    font-family: var(--font-book);
}

.element-content-price span {
    font-family: var(--font-bold);
    color: rgb(34, 34, 34);
}


@media screen and (max-width: 1600px) {
    .container-grid {
        
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}


@media screen and (max-width: 1440px) {
    .main-content-body  {
        padding: 0 40px;
    }
}

@media screen and (max-width: 1130px) {
    .container-grid {
        
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media screen and (max-width: 950px) {
    .container-grid {
        
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 744px) {
    .main-content-body  {
        padding: 0 24px;
    }
}

@media screen and (max-width: 550px) {
    .container-grid {
        
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/* ------------past experience----------- */


.past-experience-title {
    width: 100%;
    display: block;
    margin-top: 52px;
    margin-bottom: 24px;
}

.ps-title {
    font-size: 32px;
    font-family: var(--font-medium);
    display: block;
    text-align: left;
    color: #222222;
}



/* -------------footer-section---------------- */


.footer-section {
    width: 100%;
    display: block;
}

.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-top {
    width: 100%;
    display: block;
    padding: 48px 80px;
}

.footer-top-content {
    display: flex;
    flex-direction: column;
}

.footer-top-content h2 {
    display: block;
    width: 100%;
    font-size: 22px;
    font-family: var(--font-medium);
    color: rgb(34, 34, 34);
    text-align: left;
    margin-bottom: 8px;
}